<!--<h1>{{title}}</h1>-->
<!--<form  class="form" action="/years" method="post">-->
<!--    <div class="form-group">-->
<!--        <label for="name">Год</label>-->
<!--        <input type="number" value="" name="year_name" class="form-control" id="year_name" placeholder="Введите год">-->
<!--    </div>-->
<!--    <a class="btn btn-danger btn-sm" href="/years">Назад</a>-->
<!--    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>-->
<!--</form>-->
    <link rel='stylesheet' href='/stylesheets/form.css'/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


<div class="main-block">
    <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
    </div>
    <form  class="form" action="/years" method="post">
        <h1>{{title}}</h1>
        <div class="info">
            <label for="name">Год</label>
            <input type="number" value="" name="year_name" class="form-control" id="year_name" placeholder="Введите год">
        </div>

        <button type="submit" >Добавить</button>
        <a  href="/years"><p>Назад</p></a>
    </form>

</div>