<div class="pull-left">
    <h1>Список годов</h1>
</div>
<div class="pull-right">
    <a class="btn btn-primary btn-sm" href="years/new"> Добавить</a>
</div>



<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>Год</th>
        <th>Действие</th>

    </tr>
    </thead>

    {{# if years }}
        {{# each years }}
            <tr>
                <td>{{ this.id }}</td>
                <td>{{this.year_name}}</td>
                <form action="/years/{{ id }}?_method=DELETE" method="post">
                    <td style="text-align: center">
                        <a class="btn btn-primary btn-sm" href="/years/{{ id }}/edit"> Редактировать</a>
                        <button type="submit" class="btn btn-primary btn-sm edit">Удалить</button>
                    </td>
                </form>
            </tr>
        {{/ each }}
    {{/ if }}
</table>
