


<!--{% block content %}-->
<h1> Уважаемый секретарь ГЭК ИТИС! </h1>
<h3>Выберите нужный вам год для работы</h3>

<div class="container mt-4">


<!--    {% if request.user.is_authenticated %}-->
    {{# each years}}
        <div><h3> <a class="text" href="/{{this.id}}/docs/"> {{this.year_name}}</a></h3></div>
    {{/each}}
<!--    {% else %}-->
<!--    <div class="col-4">-->
<!--        <div align="left"><p>Мы рады приветствовать вас на входе в систему автоматизации работы членов ГЭК ИТИС.-->
<!--            Это виртуальная  среда, которая позволяет нашим студентам-->
<!--            Перед началом работы в системе рекомендуем ознакомиться с инструкцией.</p>></div>-->
<!--    </div>-->

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Авторизация</h3>
                    <form id="add_form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Логин</label>
                            <input type="text" value="" name="name" class="form-control" id="name" placeholder="Введите логин">
                        </div>
                        <div class="form-group">
                        <label for="name">Пароль</label>
                        <input type="text" value="" name="name" class="form-control" id="name" placeholder="Введите пароль">
                    </div>
                      <button form="add_form" type="submit" class="btn btn-primary mt-4">Зайти</button>
                 </form>
                </div>
            </div>
    </div>
    </main>
</div>


