
<div class="container">
    <h1 class="mt-4 mb-4 text-center text-primary"><b>{{title}} </b></h1>

    <span id="message"></span>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-sm-9">Добавление года</div>
                <div class="col col-sm-3">
                    <button type="button" id="add_data" class="btn btn-primary btn-sm float-end">Добавить</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Год</th>
                        <th>Действие</th>

                    </tr>
                    </thead>

                    <tbody>{{# each years}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.year_name}}</td>
                                <td><button type="button" class="btn btn-primary btn-sm edit" >Редактировать</button>
                                    <button type="button" class="btn btn-primary btn-sm edit" >Удалить</button></td>


                            </tr>
                            {{/each}}
                            </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


