<h1>{{title}}</h1>

<form  class="form" action="/docs" method="post">

    <div class="form-group">
        <label for="name">Название файла</label>
        <input type="text" value="" name="doc_name" class="form-control" id="doc_name" placeholder="Добавьте файл">
    </div>
    <div class="form-group">
        <label for="name">Файл</label>
        <input type="text" value="" name="doc_link" class="form-control" id="doc_link" placeholder="Добавьте файл">
    </div>
<!--    <div class="form-group">-->
<!--        <label for="name">Год</label>-->
<!--        <select name="year_id">-->
<!--            {{#each years}}-->
<!--                <option value="{{this.id}}">{{this.year_name}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--    </div>-->

    <a class="btn btn-danger btn-sm" href="/docs">Назад</a>
    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
</form>