


<link rel='stylesheet' href='/stylesheets/form.css'/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


<div class="main-block">
    <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
    </div>
    <form  class="form" action="/docs/new" method="post"  enctype="multipart/form-data" >
        <h1>{{title}}</h1>
        <div class="info">
                <label for="name"> Год</label>
                <select name="year_id" id="year_id">
                    {{#each years}}
                        <option value="{{this.id}}">{{this.year_name}}</option>
                    {{/each}}
                </select>
            </div>
        <div class="info">
                <label>File</label>
                <input type="file" name="file" id="file">
            </div>

        <button type="submit" >Добавить</button>
        <a  href="/docs"><p>Назад</p></a>
    </form>

</div>