


<div class="pull-left">
    <h1>Список Документов</h1>
</div>
<div class="pull-right">
    <a class="btn btn-primary btn-sm" href="docs/new"> Добавить</a>
</div>



<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Год</th>
        <th>Удаление</th>

    </tr>
    </thead>

    {{# if docs }}
        {{# each docs }}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.file}}</td>
                <td>{{this.year_name}}</td>

                <form action="/docs/{{ id }}?_method=DELETE" method="post">
                    <td style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-sm edit">Удалить</button>
                    </td>
                </form>
            </tr>
        {{/ each }}
    {{/ if }}
</table>