
<div class="container-fluid" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-md-2">
            <h3>  Меню</h3>
            <table class="table table-bordered table-striped">
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/menu">Главная</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/years">Года</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/users">Пользователи</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/groups">Группы</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/students">Студенты</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/vkr">BKР</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px">
                        <i class="fa fa-angle-double-right"></i> <a class="text" href="/docs">Приказы</a>
                    </td>
                </tr>
            </table>
        </div>