
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark  " style="background-color: #89c1ec;">
        <div class="container">
            <img src=''>
            <a class="navbar-brand mr-4" href="#"> Диплом ИТИС</a>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <p class="navbar-brand mr-6">Панель администрирования: Автоматизированная система для работы ГЭК</p>
                    <div class="pull-left">
                         <a href="/users/logout" class="btn btn-primary btn-sm">Logout</a></div>
                </div>
                </div>
            </div>
        </div>
    </nav>
</header>