<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #89c1ec;">
        <div class="container">
            <a class="navbar-brand mr-4" href="#">
                Диплом ИТИС</a>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">

                    <a class="nav-item nav-link " href="/docs">Приказы</a>
                    <a class="nav-item nav-link " href="/groups">Группы</a>
                    <a class="nav-item nav-link" href="/groups_students">Студенты</a>
                    <a class="nav-item nav-link " href="">ВКР</a>
                    <a class="nav-item nav-link" href="">Оценочные листы</a>
                    <a class="nav-item nav-link" href="">Результаты</a>
                </div>
            </div>
        </div>
    </nav>
</header>