<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark  " style="background-color: #89c1ec;">
        <div class="container">
            <a class="navbar-brand mr-4" href="#"> Диплом ИТИС</a>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link " href="/docs/">Приказы</a>
                    <a class="nav-item nav-link " href="/list-groups/">ВКР</a>
                    <a class="nav-item nav-link" href="/list-group/">Оценочные листы</a>
                    <a class="nav-item nav-link" href="/group/">Результаты</a>
                </div>
            </div>
        </div>
    </nav>
</header>