<h1>Редактирование года</h1>

<form class="form" action="/years/{{ years.id }}?_method=PUT" method="post">
    <div class="form-group">
        <label for="name">Год</label>
        <input type="text" value="{{ years.year_name }}" name="name" class="form-control" id="name" placeholder="Введите год">
    </div>


    <a class="btn btn-danger btn-sm" href="/years">Назад</a>
    <button type="submit" class="btn btn-primary btn-sm">Обновить</button>
</form>
