


<!--{% block content %}-->
<h1> Уважаемые студенты и члены ГЭК ИТИС! </h1>

<div class="container mt-4">


    <!--    {% if request.user.is_authenticated %}-->
    {{# each groups}}
        <div><h3> <a  href="/students/{{this.id}}"> {{this.group_name}}</a></h3></div>
    {{/each}}
    <!--    {% else %}-->
    <!--    <div class="col-4">-->
    <!--        <div align="left"><p>Мы рады приветствовать вас на входе в систему автоматизации работы членов ГЭК ИТИС.-->
    <!--            Это виртуальная  среда, которая позволяет нашим студентам-->
    <!--            Перед началом работы в системе рекомендуем ознакомиться с инструкцией.</p>></div>-->
    <!--    </div>-->


</div>


