<h1> {{title}} </h1>
<div class="container mt-4">
    {{# each groups}}
        <div><h2> <a  href="{{this.id}}"  style="text-decoration: none"> {{this.group_name}}</a></h2></div>
    {{/each}}
</div>
