<h1>{{title}}</h1>

<form  class="form" action="/users" method="post">

    <div class="form-group">
        <label for="name">Группа</label>
        <select name="group_id">
            {{#each groups}}
                <option value="{{this.id}}">{{this.group_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="name">форма обучения</label>
        <input type="text"  name="" class="form-control" id="" placeholder="выберите форму обучения">
    </div>


    <a class="btn btn-danger btn-sm" href="/students">Назад</a>
    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
</form>