body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #0a6bea;
  font-size: 22px;
}

tr.tr-list{
  background: #0b97c4;
}

.button {
  height: 50px;
  position: relative;
  border: 1px solid white;
}
