body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #0a6bea;
  font-size: 22px;
}
.outer-div
{
  padding: 30px;
}
.inner-div
{
  margin: 0 auto;
  width: 100px;
}
tr.tr-list{
  background: #0b97c4;
}

.button {
  height: 50px;
  position: relative;
  border: 1px solid white;
}
.page-footer {
  padding: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
}
.page-footer.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

