<h1> {{title}} </h1>

<div class="container mt-4">


    {{# each students}}
        <div><h3> <a  href="/list-group/{{this.group_id}}/{{this.id}}"> {{this.student_fio}}</a></h3></div>
    {{/each}}

</div>

