<h1> {{title}} </h1>
<div class="container mt-4">
    {{# each students}}
        <div><h2> <a  href="{{this.group_id}}/{{this.id}}"  style="text-decoration: none"> {{this.student_fio}}</a></h2></div>
    {{/each}}
</div>

